section {
    min-height: 620px;
}

section .box-wukong {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 290px;
}

section .top-left span {
    font-size: 18px;
    padding: 0px 3px;
}

section .top-left span strong {
    color: red;
    padding: 0px 3px;
}

section .top-left span {
    columns: red;
}

section .top-right span:nth-child(1) {
    border-bottom: 4px solid#000;
}

section .cart-content {
    padding: 0px 50px;
    background-color: #fff;
}

section .content-top {
    border-bottom: 2px solid #2b2e33;
    /* margin-top: 50px; */
    margin-bottom: 20px;
    justify-content: flex-start;
}

section .content-top li {
    margin-bottom: 15px;
}

section .content-top li:nth-child(1) {
    margin-right: 10px;
}

section .content-top li:nth-child(2) {
    margin-right: 518px;
}

section .content-top li:nth-child(3) {
    margin-right: 125px;
}

section .content-top li:nth-child(4) {
    margin-right: 120px;
}

section .content-top li:nth-child(5) {
    margin-right: 67px;
}

section .content-list {
    justify-content: flex-start;
}

section .list-img img {
    display: inline-block;
}

section .list-input {
    margin-right: 45px;
}

section .list-img {
    margin-right: 10px;
}

section .list-text {
    align-self: flex-start;
    margin-right: 105px;
}

section .list-text h2 {
    font-size: 16px;
    color: #2c2d32;
    margin-bottom: 18px;
}

section .list-text p {
    font-size: 16px;
    color: #70737a;
}

section .list-price {
    margin-right: 60px;
}

section .list-num {
    margin-right: 50px;
}

section .list-num a {
    display: inline-block;
    width: 35px;
    height: 35px;
    border: 1px solid #000;
    text-align: center;
    color: #000;
    line-height: 35px;
}

section .list-num span {
    display: inline-block;
    width: 67px;
    height: 35px;
    text-align: center;
    line-height: 35px;
}

section .list-sum {
    width: 80px;
    margin-right: 20px;
}

section .list-delect {
    margin-right: 45px;
    position: relative;
}

section .list-delect>a {
    width: 30px;
    height: 30px;
    background: url('../images/delectxiao_14.jpg') center center no-repeat;
    display: block;
}


/* 气泡提示 */

section .list-delect:hover .tooltips {
    display: flex;
}


/* 购物车底部 */

section .cart-bottom {
    height: 60px;
    justify-content: space-between;
    margin: 0px 50px;
    background-color: #2b2e33;
    margin-top: 50px;
}

section .bottom-left {
    color: #fff;
}

section .select-all-ipt {
    margin-right: 12px;
    margin-left: 12px;
}

section .select-all-ipt label,
.select-all label {
    margin-left: 25px;
}

section .bottom-delect {
    margin-right: 12px;
    padding-left: 21px;
    background: url('../images/delect_07.jpg') 0px 3px no-repeat;
}

section .bottom-delect a {
    color: #fff;
}

section .bottom-turn {
    padding-left: 21px;
    background: url('../images/add_07.jpg') 0px 3px no-repeat;
    margin-right: 12px;
}

section .bottom-turn a {
    color: #fff;
}

section .bottom-sum {
    border-left: 1px solid #fff;
    padding-left: 12px;
    margin-right: 12px;
}

section .bottom-sum span {
    display: inline-block;
    padding: 0px 3px;
    color: #fdd900;
}

section .bottom-right .right-price {
    font-size: 28px;
    color: #fdd900;
    margin-right: 12px;
}

section .bottom-right .right-text {
    text-align: right;
    color: #fff;
}

section .bottom-right a {
    text-align: center;
    line-height: 60px;
    font-size: 28px;
    width: 220px;
    background-color: #fdd900;
    color: #000;
}


/* 购物车添加商品 */

section .box-goods {
    padding: 0px 50px;
}

section .goods-list {
    padding: 10px 0px;
    border-top: 2px solid #babec9;
    border-bottom: 1px solid #babec9;
    display: flex;
    justify-content: space-between;
}

section .god-list-lf,
.god-list-rg {
    display: flex;
    align-items: center;
}

section .god-list-lf h3 {
    width: 240px;
    margin: 0px 12px;
}

section .god-list-lf .god-list-sz {
    padding-left: 20px;
    border-left: 1px solid #fdd900;
    ;
}

section .god-list-rg a {
    text-align: center;
    color: #fff;
    line-height: 50px;
}

section .god-list-rg a:nth-child(1) {
    width: 135px;
    height: 50px;
    background-color: #2b2e33;
}

section .god-list-rg a:nth-child(2) {
    width: 210px;
    height: 50px;
    background-color: #fdd900;
    margin-left: 12px;
}


/* 购物车推荐 */

section .other-hr {
    display: flex;
    margin-top: 70px;
    margin-bottom: 20px;
    align-items: center;
}

.hr-title {
    width: 130px;
    font-size: 18px;
}

section .other-hr .hr {
    background-color: #fdd900;
    height: 2px;
    color: #fdd900;
    width: 100%;
}

section .box-other ul {
    display: flex;
    justify-content: space-around;
    /* flex-wrap: wrap; */
}

section .box-other ul li {
    width: 195px;
    border: 1px solid #d1d7e3;
}

section .box-other ul li h2 {
    padding: 10px;
}

section .box-other .other-prc {
    display: flex;
    margin-top: 45px;
    margin-bottom: 15px;
    justify-content: space-around;
}

section .box-other .other-prc span {
    color: red;
}

section .box-other .other-prc a {
    width: 60px;
    height: 22px;
    background: url('../images/gsbag_11.jpg') center center no-repeat;
    border: 2px solid #fdd900;
}