section .top-right span:nth-child(1) {
    border-bottom: 2px solid#000;
}

section .top-right span:nth-child(3) {
    border-bottom: 4px solid#000;
}

section .order-box {
    padding: 0px 50px;
}

section .orderssuccess .aply-tip,
.ordermassage {
    display: flex;
    justify-content: space-between;
}

section .orderssuccess>p {
    font-size: 22px;
}

section .orderssuccess .aply-tip {
    border-bottom: 2px solid #000;
    height: 45px;
}

section .orderssuccess .aply-tip p:nth-child(1) {
    font-size: 18px;
    padding: 3px 0px;
}

section .orderssuccess .aply-tip p:nth-child(2) span {
    font-size: 22px;
}

section .orderssuccess .aply-tip p span {
    color: red;
}

section .ordermassage {
    height: 80px;
    align-items: center;
}

section .ordernumber {
    font-size: 22px;
}

section .orderaddress p {
    text-align: right;
    margin: 3px 0px;
}

section .orderaddress p span {
    padding-left: 20px;
    margin-left: 30px;
}

section .orderaddress p span:nth-child(1) {
    background: url('../images/icon1_16.jpg') 0px center no-repeat;
}

section .orderaddress p span:nth-child(2) {
    background: url('../images/icon2_18.jpg') 0px center no-repeat;
}

section .orderaddress p:nth-child(2) {
    background: url('../images/addrss_03.jpg') 0px center no-repeat;
    padding-left: 20px;
}

section .aplyway {
    display: flex;
    height: 85px;
    align-items: center;
    border-top: 1px solid #babec9;
    border-bottom: 2px solid #000;
}

section .aplyway a {
    width: 130px;
    margin-right: 10px;
    height: 45px;
    position: relative;
    border: 2px solid #babec9;
    text-align: center;
    line-height: 45px;
    margin-right: 10px;
}

section .aplyway a.active {
    border: 2px solid #fdd900;
}

section .aplyway a.active i {
    position: absolute;
    display: block;
    width: 15px;
    height: 15px;
    bottom: 0px;
    left: 0px;
    color: #000;
    background: url('../images/true_03.jpg') center center no-repeat;
}


/* section .aplyway aa.active{
    border: 1px solid #fdd900;
} */

section .aplyway span {
    margin-right: 10px;
}

section .aplyway a:nth-child(2) {
    background: url('../images/weixinap_19.jpg') center center no-repeat;
}

section .aplyway a:nth-child(3) {
    background: url('../images/caifutong_21.jpg') center center no-repeat;
}

section .aplysubmit {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 10px;
    display: flex;
    justify-content: flex-end;
}

section .aplysubmit a {
    width: 220px;
    height: 60px;
    background-color: #fdd900;
    color: #000;
    text-align: center;
    line-height: 60px;
    font-size: 22px;
}


/* 微信支付样式 */

section .wechatpay {
    border-top: 2px solid #2b2e33;
    display: flex;
    padding-top: 30px;
}

section .wechatpay-left {
    width: 246px;
    font-size: 30px;
}

section .wechatpay-moddle {
    margin-right: 140px;
}

section .moddle-title {
    text-align: center;
}

section .moddle-title {
    margin-bottom: 20px;
}

section .moddle-title span {
    display: inline-block;
    padding: 0px 3px;
    color: red;
}

section .moddle-bottom {
    margin-top: 20px;
    background-color: #fdd900;
    width: 112px;
    /* height: 57px; */
    text-align: center;
    padding: 14px 60px;
    color: #000;
    font-size: 14px;
}


/* 支付成功样式 */

section .paysuccess {
    display: flex;
    margin-left: 30px;
    justify-content: space-between;
    align-items: center;
}

.success-right {
    width: 760px;
}

section .right-top {
    height: 65px;
    font-size: 24px;
    font-weight: bold;
    line-height: 65px;
    border-bottom: 2px solid #000;
}

section .right-bottom {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

section .bill-left p {
    padding: 3px 0px;
    font-size: 16px;
    font-weight: bold;
}

section .bill-right {
    display: flex;
    justify-content: flex-end;
}

section .bill-right a {
    width: 220px;
    height: 60px;
    position: relative;
    text-align: center;
    margin-left: 20px;
    font-size: 20px;
    line-height: 60px;
    color: #000;
    background-color: #fdd900;
}

section .bill-right a.active i {
    position: absolute;
    display: block;
    width: 15px;
    height: 15px;
    bottom: 0px;
    left: 0px;
    background: url(../images/true_03.jpg) center center no-repeat;
}

;

/* section .pay-box {
    display: none;
} */

section .pay-box .pay-tip {
    font-size: 16px;
}

section .pay-box .pay-bottom a {
    font-size: 16px;
}