/* 代码初始化*/

body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
fieldset,
legend,
button,
input,
textarea,
th,
td {
    margin: 0;
    padding: 0;
}

body,
button,
input,
select,
textarea {
    font: 12px/1.5tahoma, arial, \5b8b\4f53;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
}

address,
cite,
dfn,
em,
var {
    font-style: normal;
}

code,
kbd,
pre,
samp {
    font-family: couriernew, courier, monospace;
}

small {
    font-size: 12px;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

sup {
    vertical-align: text-top;
}

sub {
    vertical-align: text-bottom;
}

legend {
    color: #000;
}

fieldset,
img {
    border: 0;
}

button,
input,
select,
textarea {
    font-size: 100%;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

img {
    display: block;
}


/* 头部样式 */

.cart-top,
.content-top,
.content-list,
.cart-bottom,
.bottom-left,
.bottom-right {
    display: flex;
    align-items: center;
}

header .left-nav {
    display: flex;
    margin-left: 50px;
    align-items: center;
}

header .log-in .search {
    width: 28px;
    height: 36px;
    margin-right: 67px;
    background: url('../images/sousuo_03.jpg') 0px 0px no-repeat;
}

.body-box {
    /* width: 1200px; */
    display: flex;
    flex-direction: column;
    background-image: url('../images/bgi_31.jpg');
}

header .inner-top {
    display: flex;
    justify-content: center;
    background-color: #2b2e33;
}

header .top {
    width: 1200px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #fff; */
}

header .top h1 a {
    display: block;
    width: 190px;
    height: 60px;
    background: url('../images/logo_03.png') 0px 0px no-repeat;
}

header .top .left-nav {
    width: 505px;
}

header .top .log-in {
    display: flex;
    width: 505px;
    justify-content: flex-end;
    align-items: center;
}

header .top .log-in i {
    background: url(../images/cion_03.png) 0px 0px no-repeat;
    display: block;
    width: 28px;
    height: 36px;
    margin-right: 42px;
}

header .top .log-in div {
    margin-right: 32px;
    color: #707479;
}

header .top .log-in div a {
    padding: 5px;
    color: #707479;
}

header .left-nav a {
    width: 45px;
    height: 25px;
    background: url('../images/nav1_06.jpg') 0px 0px no-repeat;
}


/* 中间内容样式 */

section .top-left span {
    columns: red;
}

section .top-left span {
    font-size: 18px;
    padding: 0px 3px;
}

section .top-left span strong {
    color: red;
    padding: 0px 3px;
}

.section-box {
    width: 1200px;
    margin: 0px auto;
    background-color: #fff;
    padding-bottom: 80px;
}

section .cart-top {
    justify-content: space-between;
    height: 95px;
    background-color: #fdd900;
}

section .top-left {
    height: 60px;
    padding-left: 20px;
    font-size: 28px;
    margin-left: 50px;
    text-align: center;
    line-height: 60px;
    border-left: 2px solid #000;
}

section .box-img {
    height: 48px;
    background-image: url('../images/carttop_05.jpg');
}

section .top-right {
    margin-right: 20px;
}

section .top-right span {
    display: inline-block;
    padding: 5px 0px;
    margin-right: 10px;
    border-bottom: 2px solid#000;
}


/* 其他页尾部样式 */

footer .footer-bto,
.footer-top-inner {
    width: 1200px;
    margin: 0px auto;
    display: flex;
    justify-content: space-around;
}

footer .footer-top-inner {
    color: #fff;
    padding-top: 56px;
    height: 274px;
}

footer .footer-bto p {
    text-align: right;
}

footer .footer-left ul {
    margin-top: 26px;
    display: flex;
    width: 282px;
    flex-wrap: wrap;
}

footer .fo-le-title {
    font-size: 24px;
}

footer .footer-left ul li {
    padding-left: 40px;
    margin-right: 36px;
    margin-bottom: 12px;
}

footer .footer-left ul li a {
    color: #fff;
    font-size: 16px;
}

footer .footer-left ul li:nth-child(1) {
    background: url('../images/icons_07.jpg') 0px 0px no-repeat;
}

footer .footer-left ul li:nth-child(2) {
    background: url('../images/icons_10.jpg') 0px 0px no-repeat;
}

footer .footer-left ul li:nth-child(3) {
    background: url('../images/icons_14.jpg') 0px 0px no-repeat;
}

footer .footer-left ul li:nth-child(4) {
    background: url('../images/icons_15.jpg') 0px 0px no-repeat;
}

footer .footer-left ul li:nth-child(5) {
    background: url('../images/icons_19.jpg') 0px 0px no-repeat;
}

footer .footer-left ul li:nth-child(6) {
    background: url('../images/icons_18.jpg') 0px 0px no-repeat;
}

footer .footer-left ul li:nth-child(7) {
    background-size: 100%;
    background: url('../images/icons_22.jpg') 0px 0px no-repeat;
}

footer .footer-left ul li:nth-child(8) {
    background-size: 100%;
    background: url('../images/icons_23.jpg') 0px 0px no-repeat;
}

footer .fo-mi-title,
footer .fo-ri-title {
    font-size: 24px;
}

footer .fo-mi-qrc {
    margin-top: 26px;
}

footer .fo-mi-qrc img {
    /* width: 200px; */
    display: inline-block;
}

footer .fo-mi-qrc img:nth-child(1) {
    margin-right: 30px;
}

footer .fo-mi-phone {
    margin-top: 26px;
}

footer .fo-mi-phone {
    padding-left: 45px;
    background: url('../images/phone_13.jpg') 0px 5px no-repeat;
}


/* 首页尾部 */

.footer-top {
    display: flex;
    justify-content: center;
    background-color: #000;
}

.footer-inner {
    width: 1200px;
}

.footer-bottom {
    align-items: center;
    height: 90px;
    display: flex;
    justify-content: center;
    background-color: #2b2e33;
}

.footer-bottom p {
    text-align: center;
    color: #585c61;
    font-size: 14px;
}


/* 登录样式 */

.login-shade,
.pay-box,
.address-box {
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 100;
    background-color: rgba(145, 145, 145, 0.6);
    position: fixed;
    /* display: flex; */
    display: none;
    justify-content: center;
    align-items: center;
}

.login-shade .shade-box {
    z-index: 200;
    width: 420px;
}

.login-shade .login-inner {
    background-color: #fff;
    padding: 0px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.login-shade .login-inner .login-delect {
    width: 380px;
    text-align: center;
}

.login-shade .login-inner .login-delect a {
    display: block;
    width: 15px;
    height: 15px;
    background: url('../images/delect_06.jpg');
    margin-left: 360px;
    margin-top: 20px;
    right: 0px;
}

.login-shade .login-inner .shade-logo {
    margin-top: 25px;
    margin-bottom: 35px;
}

.login-inner .shade-input {
    display: flex;
    margin-bottom: 25px;
}

.login-inner .shade-input:nth-child(3) label {
    background: url('../images/ren_06.jpg') center center no-repeat;
}

.login-inner .shade-input:nth-child(4) label {
    background: url('../images/suo_07.jpg') center center no-repeat;
}

.login-inner .shade-input:nth-child(3) label {
    border: 1px solid #babec9;
    border-right: none;
    width: 45px;
    height: 45px;
}

.login-inner .shade-input:nth-child(4) label {
    border: 1px solid #babec9;
    border-right: none;
    width: 45px;
    height: 45px;
}

.login-inner .shade-input input {
    padding-left: 8px;
    width: 327px;
    height: 45px;
    border: 1px solid #babec9;
}

.login-inner .shade-input:nth-child(5) input {
    width: 230px;
    margin-right: 12px;
}

.login-inner .shade-input:nth-child(5) .security-code {
    width: 136px;
    height: 45px;
    background: url('../images/cord_15.jpg') 0px 0px no-repeat;
    border: 1px solid #000;
}

.login-inner .cleck-submit a {
    margin-top: 28px;
    display: block;
    font-size: 22px;
    color: #000;
    background-color: #fdd900;
    text-align: center;
    line-height: 45px;
    width: 380px;
    height: 45px;
}

.login-inner .find-or-register {
    display: flex;
    width: 380px;
    margin-top: 45px;
    padding-bottom: 20px;
    justify-content: space-between;
}

.login-inner .find-or-register a {
    color: #000;
}

.login-inner .shade-input input.active {
    border: 1px solid red;
}


/* placeholder属性颜色设置 */

input.pladerecolo::-webkit-input-placeholder {
    color: red;
}

input.pladerecolo::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: red;
}

input.pladerecolo:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: red;
}

input.pladerecolo:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: red;
}

.shade-box .login-bottom {
    height: 65px;
    background-color: #fff;
    display: flex;
    margin-top: 3px;
    justify-content: space-around;
    align-items: center;
}

.shade-box .login-bottom a {
    width: 32px;
    height: 32px;
}

.shade-box .login-bottom a:nth-child(1) {
    background: url('../images/qq_29.jpg') center center no-repeat;
}

.shade-box .login-bottom a:nth-child(2) {
    background: url('../images/weixin_32.jpg') center center no-repeat;
}

.shade-box .login-bottom a:nth-child(3) {
    background: url('../images/weibo_29.jpg') center center no-repeat;
}


/* 气泡提示样式 */

section .tooltips {
    top: 40px;
    left: -150px;
    z-index: 20;
    display: none;
    justify-content: center;
    box-shadow: 0px 0px 6px 3px #fbb7b6;
    position: absolute;
}

section .tooltips i {
    display: block;
    width: 0;
    height: 0;
    border-width: 0 10px 15px;
    border-style: solid;
    border-color: transparent transparent #2b2e33;
    ;
    position: absolute;
    top: -10px;
    left: 155px;
}

section .tooltips a {
    text-align: center;
    line-height: 32px;
    font-size: 14px;
    color: #fff;
}

section .tooltips a:nth-child(1) {
    background-color: red;
    width: 100px;
    height: 32px;
}

section .tooltips a:nth-child(2) {
    width: 100px;
    height: 32px;
    background-color: #2b2e33;
}


/* 支付弹出框 */

.pay-inner {
    width: 690px;
    height: 420px;
    background-color: #fff;
}

.pay-border {
    padding: 0px 20px;
}

.pay-top {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #000;
}

.pay-top span {
    width: 60px;
    font-size: 18px;
    padding: 20px 0px;
    font-weight: bold;
}

.pay-top a {
    width: 20px;
    height: 20px;
    background: url('../images/delect_06.jpg') center center no-repeat;
}

.pay-middle {
    margin-bottom: 72px;
}

.pay-middle .pay-tip {
    text-align: center;
    padding: 46px 12px;
    font-size: 14px;
    margin-top: 30px;
}

.pay-middle .pay-click {
    display: flex;
    justify-content: space-around;
}

.pay-middle .pay-click a {
    width: 208px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    background: #2b2e33;
    color: #fff;
    font-size: 16px;
}

.pay-bottom {
    padding: 27px;
    font-size: 12px;
    color: #24a7eb;
    text-align: center;
    border-top: 1px solid #000;
}


/* 复选框样式 */

.ip-box {
    position: relative;
}

.ip-box input[type=checkbox] {
    /* position: absolute; */
    z-index: -1;
    opacity: 0;
}

.ip-lable::before {
    left: 0;
    content: '';
    display: block;
    position: absolute;
    width: 22px;
    height: 22px;
    border: 2px solid #b8bfc9;
    top: 0;
}

.ip-lable::after {
    top: 2px;
    left: 2px;
    content: '';
    display: block;
    position: absolute;
    width: 22px;
    height: 22px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.ip-box input:checked+.ip-lable::before {
    background-color: #fdd900;
    border: 2px solid #fdd900;
}

.ip-box input:checked+.ip-lable::after {
    background-image: url('../images/inputpic_03.jpg');
}